.bg-image{
    
        background-image: url("../img/jumbo.png");
        background-size: 100%;
        background-position: 70%;
        
}
.bg-stars{
    background-image: url(../img/stars.svg);
    background-position: 60%;
    background-position-x: center;
   
    
    
}
.ita-img{ width: 20px;
    height: 15px;

}
.bg-blu{
    background-color: #255EE9;
}
.bg-blu2{
    background-color: #7289DA;
}
.colordiscord{
    color: #7289DA;
}

.pdleft{
    margin-left: 20px;
}
.pdleft-{
    margin-left: -20px;
}
.bordradius{
    border-radius: 25px;
}
.noline{
    text-decoration: none;
    color: rgb(255, 255, 255);
}


.padding-top{
    padding-top: 20px;
}
.padding-top2{
    padding-top: 100px;
}
.padding-top3{
    padding-top: 30px;
}
.padding-top4{
    padding-top: 20px;
}
.padding-square{
    padding-bottom: 70px;
    padding-top: 70px;
}
.padding-bot{
    padding-bottom: 150px;
}
.padding-bot2{
    padding-bottom: 40px;
}
.padding-bot3{
    padding-bottom: 20px;
}
.gap{
    gap: -50px;
}
.bg-grey{
    background-color: #F6F6F6;
}
.white{
    margin-left: -5px;
    color: rgb(0, 0, 0);
}
hr{
    width: 90%;
    color: #7289DA;
    height: 2px;
}

.footer1{ width: 90%;
    margin-left: 100px;
    
    
}
.button{
    margin-left: 150px;
}
.adventure{
    text-align: center;
}
footer{
   background-color: #23272A; 
}